---
    import { Icon } from "astro-icon";
---

<div class="bg-white items-center rounded-full py-1 pl-4 px-2 mt-2 flex justify-between">
    <p class="text-[10px] text-GrayishBlue">Type a message…</p>
    <div class="bg-VeryDarkDesaturatedViolet p-1 rounded-full">
        <Icon pack="mdi" name="arrow-right" class="w-4 h-4 text-white" />
    </div>
</div>