<main class="mt-16 flex flex-col gap-4 text-center lg:text-left">
    <h1 class="text-VeryDarkDesaturatedViolet text-4xl font-bold lg:text-6xl">Simple booking</h1>
    <p class="text-DarkGrayishViolet text-base mx-auto  max-w-[290px] lg:max-w-lg">
        Stay in touch with our dog walkers through the chat interface. This
        makes it easy to discuss arrangements and make bookings. Once the walk
        has been completed you can rate your walker and book again all through
        the chat.
    </p>
</main>
