<div class="flex self-end w-40 gap-2 justify-end">
    <img class="w-10 rounded-lg" src="/images/dog-image-1.jpg" alt="dog-image-1">
    <img class="w-10 rounded-lg" src="/images/dog-image-2.jpg" alt="dog-image-2">
    <img class="w-10 rounded-lg" src="/images/dog-image-3.jpg" alt="dog-image-3">
</div>